*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center; 
   align-items: center;
   min-height: 100vh;
   background: black;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonContainer a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid rgb(255, 105, 0);
    border-radius: 15px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    -webkit-box-reflect: below 0px linear-gradient(transparent);
    transition: 0.5s;
    transition-delay: 0s;
  }
  .buttonContainer a:hover {
    transition-delay: 1s;
    overflow: hidden;
    border: 2px solid rgb(255, 105, 0);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(255, 105, 0), 0 0 20px rgb(255, 105, 0), 0 0 40px rgb(255, 105, 0), 0 0 80px rgb(255, 105, 0), 0 0 160px rgb(255, 105, 0);
  }
  .buttonContainer a:hover::before {
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 rgb(255, 105, 0), 5px 0 0 rgb(255, 105, 0);
    transition-delay: 0s, 0.5s, 1s, 1s;
  }
  .buttonContainer a:hover::after {
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 rgb(255, 105, 0), -5px 0 0 rgb(255, 105, 0);
    transition-delay: 0s, 0.5s, 1s, 1s;
  }
  .buttonContainer a span {
    position: relative;
    z-index: 100;
  }
  .buttonContainer a:nth-child(2) {
    filter: hue-rotate(80deg);
  }
  .buttonContainer a::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: rgb(255, 105, 0);
    box-shadow: 5px -8px 0 rgb(255, 105, 0), 5px 8px 0 rgb(255, 105, 0);
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
  }
  .buttonContainer a::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: rgb(255, 105, 0);
    box-shadow: -5px -8px 0 rgb(255, 105, 0), -5px 8px 0 rgb(255, 105, 0);
    transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
  }
  