<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/a1b11d373d.js"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <div
      div
      class="bg-fixed ..."
      style="
        min-height: 100vh;
        background-image: url(../static/images/blancN.jpg);
        background-size: cover;
        background-position: left;
      "
    >
      <nav
        class="pl-6 flex gap-5 text-lg rounded-3xl h-14 bg-gradient-to-r from-slate-400 to-neutral-900"
      >
        <div class="flex flex-grow self-center gap-5">
          {% if user.is_authenticated %}
          <a href="/" class="text-white hover:text-red-600 hover:underline"
            >Accueil</a
          >
          <a
            href="/account"
            class="text-white hover:text-red-600 hover:underline"
            >Votre compte</a
          >
          <a
            href="/deconnection"
            class="text-white hover:text-red-600 hover:underline"
            >Déconnexion</a
          >
          {%else%}
          <a
            href="/inscription"
            class="text-white hover:text-red-600 hover:underline"
            >Inscription</a
          >
          <a
            href="/identification"
            class="text-white hover:text-red-600 hover:underline"
            >Se connecter</a
          >
          {%endif%}
        </div>
        <div class="text-white self-center pr-10">
          <a
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            title="Vers mes notes"
            href="/account"
            >{{ user.nom }}</a
          >
        </div>
        <img
          class="mx-auto self-center pr-10 h-10 w-auto"
          src="{{ url_for('static', filename='images/Ishi-round.png') }}"
          alt="Workflow"
        />
      </nav>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      "success" %}
      <div class="flex justify-center relative content-center">
        <div
          class="pl-4 flex flex-row gap-5 text-lg border-green-400 text-green-700 max-w-prose rounded-3xl h-12 px-4 py-3 bg-green-100 absolute"
        >
          <div class="gap-5 text-lg text-green-700 pr-3" role="alert">
            <strong class="font-bold">{{message}}</strong>
            <span class="block sm:inline"> Bienvenue sur votre espace!</span>
          </div>
          <span class="alertdel absolute py-3.5 top-0 bottom-0 right-0">
            <svg
              class="cursor-pointer fill-current h-6 w-6 text-red-500"
              role="button"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <title>Close</title>
              <path
                d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
              />
            </svg>
          </span>
        </div>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %} {% with messages =
      get_flashed_messages(with_categories=true) %} {% if messages %} {% for
      category, message in messages %} {% if category == "fail" %}
      <div class="flex justify-center relative content-center">
        <div
          class="pl-6 flex flex-row gap-5 text-lg border-red-400 text-red-700 max-w-prose rounded-3xl h-12 px-4 py-3 bg-red-100 absolute"
        >
          <div class="gap-5 text-lg text-red-700 pr-3" role="alert">
            <strong class="font-bold">{{message}}</strong>
            <span class="block sm:inline"> veuillez réessayer...</span>
          </div>
          <span class="alertdel absolute top-0 bottom-0 right-0 py-3.5 pr-1">
            <svg
              class="cursor-pointer fill-current h-6 w-6 text-red-500"
              role="button"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <title>Close</title>
              <path
                d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
              />
            </svg>
          </span>
        </div>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
      <div class="container mx-auto">{% block content%}{% endblock %}</div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
